
<div class="content">
    <div class="margem-chart">
        <div class="row">
            <div [@.disabled]="true">
                <mat-tab-group dynamicHeight>
                  <mat-tab label="Gráfico de Coluna">
                  <ng-template matTabContent>

                    <canvasjs-chart
                      [options]="columnChartOptions"
                      [styles]="{ width: '100%', height: '460px' }"
                    ></canvasjs-chart>

                  </ng-template>
                </mat-tab>
                <mat-tab label="Gráfico Pizza">
                   <ng-template matTabContent>

                    <canvasjs-chart
                    [options]="pieChartOptions"
                    [styles]="{ width: '100%', height: '460px' }"
                  ></canvasjs-chart>

                   </ng-template>
                </mat-tab>
                <mat-tab label="Gráfico de Linha">
                   <ng-template matTabContent>

                    <canvasjs-chart
                    [options]="lineChartOptions"
                    [styles]="{ width: '100%', height: '460px' }"
                  ></canvasjs-chart>

                   </ng-template>
                 </mat-tab>

                 <mat-tab label="Gráfico Financeiro">
                  <ng-template matTabContent>

                    <app-candle></app-candle>                

                  </ng-template>
                </mat-tab>

               </mat-tab-group>
              </div>
        </div>
    </div>
</div>

